.content {
  box-sizing: border-box;
  height: 500px;
  padding: 30px;
}

.content .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #666;
  font-size: 80px;
}