<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login page</title>
  <link rel="stylesheet" href="../public/css/login.css">
  <link rel="stylesheet" href="../public/css/base.css">
</head>
<body>
  <!-- <h2>登录页面</h2> -->
  <div class="header container">欢迎进入登录页面.....</div>
  
  <div class="content container">
    <form action="">
      <label>
        邮箱: <input type="text" name="username" autocomplete="off">
      </label>
      <label>
        密码: <input type="text" name="password" autocomplete="off">
      </label>
      <label>
        验证码: <input type="text">
        <button>发送验证码</button>
      </label>
      <button>点击登录</button>
    </form>
  </div>

  <div class="footer container">页脚区域.....</div>
  <script src="/public/js/login.js"></script>
</body>
</html>